body {
    font-family: 'Arial', sans-serif;
    background-color: #cccccc;
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: calc(100vh - 40px);
    color: #000;
    padding: 20px;
    height: auto;
}

.calculator {
    max-width: 300px;
    width: 50%; 
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    color: #000;
}
input {
    width: calc(100% - 20px);
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: #000;
}

button {
    width: 50px;
    height: 50px;
    font-size: 16px;
    margin: 5px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(110, 0, 161);
}

#extra button:hover {
    background-color: rgb(110, 0, 161);
}

#extra button {
    width: 300px;
    margin: 15px;
}
#extra select {
    width: 150px;
    height: 30px;
    font-size: 16px;
    margin: 15px;
    color: #ffffff;
    background-color: #333333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


@media (min-width: 2px) and (max-width: 888px) {
   body {

        height:auto;
        display: block;
        width: 100%;
    }

    .calculator {
        width: 100%;
        margin: 20px;
    
    }
    .calculator input{
        width: 280px;
        display: block;
    }
    .calculator::after {
        content: "\A"; 
        white-space: pre; 
        display: block; 
        margin-bottom: 10px; 
    }
    #extra {
        margin: 20px;
        width: 100%;
    }
    input {
        width: 300px;
        display: block;
    }
    
}

}

}
